* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcfbef;
  color: #555;
  font-family: sans-serif;
  min-width: 314px;
  overflow-x: hidden;
}

ul {
   list-style: none;
}

body > section {
  margin: auto;
  max-width: 314px;
  position: relative;
}

#accept_task {
  background-color: #fff;
  border: 0;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09);
  color: #222224;
  font-size: 20px;
  left: 0px;
  outline: none;
  padding: 10px;
  position: absolute;
  top: 0px;
  width: 294px;
}  

#task_list {
  padding-top: 44px;
}

#task_list li {
  overflow: hidden;
  padding: 10px 10px 10px 0;
  position: relative;
}

#task_list li:not(:last-child) {
  border-bottom: 1px solid #ece6cb;
}

#task_list li.active {
  font-size: 15px;
  font-weight: bold;
}

#task_list .title {
  -webkit-transition: width 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-transition:    width 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition:         width 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  color: #464445;
  font-weight: normal;
  font-size: 13px;
  float: left;
  overflow: hidden;
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 294px;
}

#task_list li:hover .title {
  width: 180px;
}

#task_list .duration {
  background: #ccc;
  background-image: url(sprite.png);
  background-repeat: no-repeat;
  border-radius: 2px;
  display: none;
  font-family: 'lucida grande', 'Lucida Sans Unicode', tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  padding: 2px 5px 2px 20px;
  position: absolute;
  right: 10px;
  top: 9px;
}

#task_list li[data-status = "active"] .duration {
  background-color: #f56e41;
  background-position: 0 -86px;
  color: #fff;
  display: block;
}

#task_list li[data-status = "pause"] .duration {
  background-color: #f4ca48;
  background-position: 1px -103px;
  color: #62511d;
  display: block;
}

#task_list li[data-status = "complete"] .duration {
  background-color: #a7d44c;
  background-position: 2px -68px;
  color: #4e6424;
  display: block;
}

#task_list li .ctrls {
  -webkit-transition: margin-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), 
                      opacity     0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-transition:    margin-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), 
                      opacity     0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition:         margin-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), 
                      opacity     0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);                                           
  float: left;
  margin-left: -37px;
  opacity: 0.0;
  overflow: hidden;
  width: 37px;
}

#task_list li:hover .ctrls {
  margin-left: 10px;
  opacity: 1.0;
}

#task_list li[data-status = "complete"] .ctrls{
  width: 16px;
}

.ctrls button {
  background-color: #dcddcd;
  background-image: url(sprite.png);
  background-repeat: no-repeat;
  border-radius: 2px;
  border: 1px solid #d5d6c8;
  color: #777;
  cursor: pointer;
  display: none;
  height: 16px;
  line-height: 1;
  margin: 0;
  padding: 0;
  width: 16px;
}

.ctrls button:hover {
  background-color: #c2c3b5;
  border-color: #c2c3b5;
}

.ctrls .start {
  background-position: 0 0;
}

.ctrls .pause {
  background-position: 0 -18px;
}

.ctrls .complete {
  background-position: 0 -36px;
}

.ctrls .discard {
  background-position: 0 -54px;
}


li[data-status = "create"] .ctrls .start,
li[data-status = "create"] .ctrls .discard {
  display: inline;
}
li[data-status = "create"] .ctrls .start {
  float: left;
}
li[data-status = "create"] .ctrls .discard {
  float: right;
}


li[data-status = "active"] .ctrls .pause,
li[data-status = "active"] .ctrls .complete {
  display: inline;
}
li[data-status = "active"] .ctrls .pause {
  float: left;
}
li[data-status = "active"] .ctrls .complete {
  float: right;
}


li[data-status = "complete"] .ctrls .discard {
  display: inline;
  float: left;
}


li[data-status = "pause"] .ctrls .start,
li[data-status = "pause"] .ctrls .complete {
  display: inline;
}
li[data-status = "pause"] .ctrls .start {
  float: left;
}
li[data-status = "pause"] .ctrls .complete {
  float: right;
}

.ctrls .start {
  font-size: 11px;
}

.ctrls .discard {
  font-size: 17px;
}


@media all and (min-width: 800px) {
  body {
    padding-top: 100px;
  }

  #accept_task {
    border-radius: 3px;
  }

  #task_list li:only-child {
    border-bottom: 1px solid #ece6cb;
  }
}
